# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://jashkenas.github.com/coffee-script/

<% environment.context_class.instance_eval { include ActionView::Helpers::UrlHelper } %>
<% environment.context_class.instance_eval { include ActionView::Helpers::TagHelper } %>
<% environment.context_class.instance_eval { include Rails.application.routes.url_helpers} %>


$(document).ready ->	
	$('#li_search').on('click', (event) ->
		$("#search_form").slideToggle()
		event.preventDefault()
	)

	$('#type_id').on('change', ->
		$.getJSON('recepes?type_id='+$('#type_id').val(), (response) ->
			$('table').html('')
			str = $.map(response, (val,i) ->
				tr = $('<tr></tr>')
				u = val.id
				str = "<td class='meal' id='recepe_{val.id}'>#{val.name}<br/><img src='<%= url_for(controller: :recepes, action: :pic, id: 24) %>'/></td>"
				$(str.replace(24,val.id)).appendTo(tr)
				tr
			)
			$('table').html str;
		)
	)
	


